.leftFrame .listsSection + .listsSection {
    min-height: 80%;
    flex-grow: 1;
}

.leftFrame .listsSection + .listsSection > .list {
    background-color: white;
    border-radius: 10px 3px 10px 10px;
    height: 100%;
    gap: 2;
}

.leftFrame .listsSection + .listsSection > .list > .card {
    box-shadow: none;
}