.postsSection {
    display: flex;
    flex-direction: column;
    gap: 9px;
    min-width: 317px;
    margin-bottom: auto;
    overflow: hidden;
    justify-items: stretch;
  }

  .postList {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 3px;
    margin-right: 3px;
  }

  
  .postLine {
    width: 230px;
    height: 0.5px;
    background-color: var(--darkPurple2);
  }

  .dateTimeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .userIcon {
    background-color: var(--pinkIcon);
  
    font-family: var(--iconFont);
  
    text-align: center;
  
    width: 40px;
    height: 40px;
    font-size: 16pt;
    text-transform: uppercase;
  
    margin-right: auto;
  }