:root {
  --headerFont: "Trebuchet MS";
  --headerWeight: 400;

  --regularFont: "Calibri";
  --iconFont: "Lucida Console";

  --purple1: #6e57bd;
  --purple2: #2e1385;
  --barPurple: #594e7e;
  --darkPurple1: #736e85;
  --darkPurple2: #585172;
  --white: #ffffff;
  --lightGray: #e8e7f3;
  --shadowColor: #58517230;
  --nullColor: #00000000;

  --purpleIcon: #9c85e8;
  --pinkIcon: #f88b9e;
  --yellowIcon: #f8cd73;
  --blueIcon: #79A3F0;
  --greenIcon: #8FE3CA;

  --purpleEvent: #876ddf;
  --purpleEventBg: #876ddf99;
  --blueEvent: #5c76eb;
  --blueEventBg: #5c76eb99;
  --greenEvent: #36cec1;
  --greenEventBg: #36cec199;
  
  --gridRowCount: 30;
  --gridColCount: 7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: normal;
  color: inherit;
}

/* nav bar headers */
h1 {
  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 13pt;
  color: var(--white);
  text-transform: uppercase;
  white-space: nowrap;
}

/* left side header */
h2 {
  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 14pt;
  color: var(--purple1);
  text-transform: uppercase;
  margin-right: auto;
}

img {
  color: var(--darkPurple2);
  font-size: 4pt;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 0;

  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 13pt;
  color: var(--white);
  text-transform: 'uppercase';
}

.calendarNavButton {
  background-color: var(--white);
  width: 4px;
  height: 40px;
  flex-grow: 1;
  flex-grow: 1;
}

.filterButton {
  background-color: var(--purple1);
  width: 25px;
  height: 25px;

  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
}

.xButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px; 
  height: 0px; 
  justify-content: flex-end;
}
.xButtonContainer button {
  background-color: var(--white);
  width: 10px;
  height: 10px;
}

.sendSaveContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 0px;
  gap: 5px;
  justify-content: flex-end;
}
.sendSaveContainer button {
  background-color: var(--white);
  width: 15px;
  height: 15px;
}

.createButton {
  background-color: var(--purple1);
  border-radius: 10px;
  justify-content: space-between;

  position: fixed;
  bottom: 32px;
  left: 32px;

  width: 140px;
  height: 56px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  padding-right: 18px;

  box-shadow: 2px 2px 4px var(--shadowColor);

  text-transform: uppercase;
}