:root {
  --headerFont: "Trebuchet MS";
  --headerWeight: 400;

  --regularFont: "Calibri";
  --iconFont: "Lucida Console";

  --purple1: #6e57bd;
  --purple2: #2e1385;
  --barPurple: #594e7e;
  --darkPurple1: #736e85;
  --darkPurple2: #585172;
  --white: #ffffff;
  --lightGray: #e8e7f3;
  --shadowColor: #58517230;
  --nullColor: #00000000;

  --purpleIcon: #9c85e8;
  --pinkIcon: #f88b9e;
  --yellowIcon: #f8cd73;
  --blueIcon: #79A3F0;
  --greenIcon: #8FE3CA;

  --purpleEvent: #876ddf;
  --purpleEventBg: #876ddf99;
  --blueEvent: #5c76eb;
  --blueEventBg: #5c76eb99;
  --greenEvent: #36cec1;
  --greenEventBg: #36cec199;
  
  --gridRowCount: 30;
  --gridColCount: 7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: normal;
  color: inherit;
}

/* nav bar headers */
h1 {
  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 13pt;
  color: var(--white);
  text-transform: uppercase;
  white-space: nowrap;
}

/* left side header */
h2 {
  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 14pt;
  color: var(--purple1);
  text-transform: uppercase;
  margin-right: auto;
}

img {
  color: var(--darkPurple2);
  font-size: 4pt;
}

.link {
  color: inherit;
  text-decoration: none;
}

.nav {
  background-color: var(--barPurple);

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 26px;
  /* minus padding */
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 27px;
  padding-bottom: 27px;
  gap: 16px;
}

.leftHead {
  display: flex;
  flex-direction: row;

  width: 318px;
  height: 13px;

  align-items: center;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 317px;
  margin-bottom: auto;
  overflow: hidden;
}

.postTextBlock {
  background-color: var(--white);
  /* placeholder */

  display: flex;
  flex-direction: column;

  width: 245px;
  height: auto;

  gap: 4px;
}

.postText {
  /* default text (name and date/time) */
  font-family: var(--regularFont);
  font-size: 11pt;
  font-weight: 300;
  transform: scale(1, 0.95);
  line-height: 1;
  text-align: left;
  color: var(--darkPurple1);
}

.postDateTime {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.locationText {
  font-size: 16pt;
  font-weight: 500;
  color: var(--darkPurple2);
  line-height: 1;
}

.postLine {
  width: 230px;
  height: 0.5px;
  background-color: var(--darkPurple2);
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navTopLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px; 
  margin-right: auto
}
.navTopRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 75px
}
.navProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.dateTimeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.colContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post {
  background-color: var(--white);
  box-shadow: 2px 2px 4px var(--shadowColor);

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 296px;
  /* minus padding */
  height: auto;
  /* minus padding */
  border-radius: 10px 3px 10px 10px;

  padding-left: 13px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.logoCircle {
  width: 48px;
  height: 48px;
  border: 1px solid var(--white);
  border-radius: 50%;

  flex-shrink: 0;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 0;

  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 13pt;
  color: var(--white);
  text-transform: 'uppercase';
}

.calendarNavButton {
  background-color: var(--white);
  width: 4px;
  height: 40px;
  flex-grow: 1;
  flex-grow: 1;
}

.navButton {
  border-radius: 0;
  background-color: var(--nullColor);
  gap: 17px;
}

.logoButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.userIcon {
  background-color: var(--pinkIcon);

  font-family: var(--iconFont);

  text-align: center;

  width: 40px;
  height: 40px;
  font-size: 16pt;
  text-transform: uppercase;

  margin-right: auto;
}
.headerVariation {
  width: 48px;
  height: 48px;
  font-size: 20pt;
  border: 1px solid var(--white);
  background-color: var(--purpleIcon);

  margin-right: 0;
}

.filterButton {
  background-color: var(--purple1);
  width: 25px;
  height: 25px;
}

.xButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px; 
  height: 0px; 
  justify-content: flex-end;
}
.xButton {
  background-color: var(--white);
  /* placeholder */
  width: 10px;
  height: 10px;
}

.sendSaveContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  height: 0px;
  gap: 5px;
  justify-content: flex-end;
}
.sendSaveButtons {
  background-color: var(--white);
  width: 15px;
  height: 15px;
}

.createButton {
  background-color: var(--purple1);
  border-radius: 10px;
  justify-content: space-between;

  position: fixed;
  bottom: 32px;
  left: 32px;

  width: 140px;
  height: 56px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  padding-right: 18px;

  box-shadow: 2px 2px 4px var(--shadowColor);

  text-transform: uppercase;
}