.profileBody {
  background-color: yellow;
  /* placeholder */

  display: flex;
  flex-direction: column;

  height: 100vh;
}

.topFrame {
  background-color: var(--white);

  width: 100%;
  height: 33.33%;

  display: flex;
  flex-direction: row;
  gap: 50px;

  padding-left: 72px;
  padding-right: 72px;
  padding-top: 48px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.topFrame .userIcon{
width: 200px;
height: 200px;
font-size: 80pt;
background-color: var(--purpleIcon);

margin-right: 0;
flex-shrink: 0;
}

.infoContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  gap: 30px;

  /* background-color: aqua; */
  overflow: hidden;
  box-sizing: border-box;
}

.nameClassContainer {
  display: flex;
  flex-direction: column;
}

.textBlocksContainer {
  display: flex;
  flex-direction: column;

  width: 100%;

  /* background-color: aquamarine; */
  overflow: hidden;
}

/* profile name */
h3 {
  font-family: var(--regularFont);
  font-weight: var(--headerWeight);
  font-size: 70pt;
  color: var(--black);

  /* background-color: aliceblue; */
  white-space: nowrap;
}

.schoolMajorBioContainer h3 {
  font-size: 20pt;
  color: var(--darkPurple1);
  font-weight: 500;
}

/* postText -> profileClass */
.nameClassContainer p {
  font-size: 18pt;
  margin: 0;
  white-space: nowrap;
}

/* row container separating school and major from bio */
.schoolMajorBioContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.schoolMajorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* row container with subject and description for school, bio, header */
.schoolMajorBioContainer section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* holds the list of details */
h3 ~ div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  padding-top: 5px;
  max-width: 50vh;
  flex-wrap: wrap;
}

/* detail */
.schoolMajorBioContainer button {
  background-color: var(--purple1);
  border-radius: 28px;
  justify-content: center;

  width: auto;
  height: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  padding-right: 18px;
  white-space: nowrap;
}

.subjectDetails p {
  font-family: var(--headerFont);
  font-weight: var(--headerWeight);
  font-size: 13pt;
  color: var(--darkPurple2);
  padding-top: 4px;
}

.bottomFrame {
  background-color: var(--lightGray);

  position: relative;

  width: 100%;
  height: 66.67%;

  display: flex;
  flex-direction: row;

  padding-top: 25px;
  padding-bottom: 25px;

  justify-content: space-around;
  overflow: hidden;
}

.bottomFrame > button {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
}

.bottomFrame h2 {
  font-size: 20pt;
  font-weight: 600;
  margin-right: 0;
}

/* postList -> profilePostList */
.bottomFrame .postList {
  align-items: center;
}



